body {
}

.flex {
    display: flex;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 227px;
    height: 315px;
    background-repeat: no-repeat;         
    justify-content: space-between
}

.fill-width {
    width: 100%;

}

.fill-height {
    height: 100%;
}

.card .number-top {
    font-size: 24px;
    display: flex;
    margin-top: 6%;
    margin-left: 5%;
}

.card .number-bot {
    font-size: 24px;
    display: flex;
    margin-bottom: 6%;
    margin-right: 5%;
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}